:root {
  --light-brown: #bf8b67;
  --darker-brown: #876445;
  --dark-brown: #916c4c54;
  --black-rgba: rgba(0, 0, 0, 1);
  --red-rgba: rgba(255, 23, 0, 1);

  --field-border: var(--light-brown);
  --field-box-shadow: var(--black-rgba);
  --inventory-section-border: var(--darker-brown);
  --inventory-skill-border: var(--light-brown);
  --inventory-elements-border: var(--darker-brown);
  --dialogue-box-border: var(--darker-brown);
  --dialogue-box-border--hover: var(--dark-brown);
  --dialogue-box-border--hover-box-shadow: var(--red-rgba);
  --dialogue-box-box-shadow: var(--black-rgba);

  --hover-transition-all: all 0.4s;

  --border-radius: 4px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
