.field {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border: 2px solid var(--field-border);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 17px 5px var(--field-box-shadow);
  -moz-box-shadow: 0px 0px 17px 5px var(--field-box-shadow);
  box-shadow: 0px 0px 17px 5px var(--field-box-shadow);
}

.inventory-field {
  padding: 0;
}
