.section {
  position: relative;
  height: 49%;
  background-color: #000;
  opacity: 0.9;
  background-image: url(../../../../images/backgrounds/body_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);

  .imageCommon {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .corner_t_l {
    background-image: url(../../../../images/backgrounds/corner_t_l.png);
  }
  .corner_t_r {
    background-image: url(../../../../images/backgrounds/corner_t_r.png);
    background-position: right;
  }
  .corner_b_l {
    background-image: url(../../../../images/backgrounds/corner_b_l.png);
  }
  .corner_b_r {
    background-image: url(../../../../images/backgrounds/corner_b_r.png);
    background-position: right;
  }
}
