.sections {
  height: 17%;
  background-color: #000;
  opacity: 0.9;
  border-bottom: 2px solid var(--inventory-section-border);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 50%);
}
