.field {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 2rem 1rem;
  border: 2px solid var(--field-border);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 17px 5px var(--field-box-shadow);
  -moz-box-shadow: 0px 0px 17px 5px var(--field-box-shadow);
  box-shadow: 0px 0px 17px 5px var(--field-box-shadow);
  z-index: 100;

  &.inventory-field {
    padding: 0;
  }

  .available-skill-points-wrapper {
    display: flex;
    justify-content: center;
    background-color: #000;
    opacity: 0.9;
    color: white;
    border-bottom: 2px solid var(--inventory-section-border);
  }
}
